body{
    margin: 0 0 0 0;
    width: 100%;
}
.topMenu {
    background-color: rgb(18, 93, 207);
    width: 100%;
    height: 60px;
}

.logo {
    color:white;
    width: 20%;
}
.logo h3 {
    color:white;
}
.search {
    width:40%;
    height: 100%;
}
.search input{
    height: 70%;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.rightMenu{
    width: 40%;
    height: 100%;
}