body{
    margin: 0;
    width: 100vw;
}
.topMenu {
    background-color: rgb(18, 93, 207);
    width: 100%;
    height: 70px;
   
}

.logo {
    color:white;
    width: 20%;
}
.logo h3 {
    color:white;
}
.search {
    width:40%;
    height: 100%;
}
.search input{
    height: 65%;
    width: 100%;
    border-radius: 40px;
    border: none;
}

.rightMenu{
    width: 40%;
    height: 100%;
}
.sidebar {
    min-height: 450px;
}
.sidebar p {
    font-size: 18px;
    font-weight: 400;;
    margin-left: 15px;
}
#buttonContainer {
    min-height: 700px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.button {
    width: 90%;
    height: 70px;
    background-color: #eaf0ee; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.icon {
    margin-left: 25px;
}

#main {
    width: 100%;
    min-height: 650px;
    /* background-color: rgb(29, 210, 107); */ */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */

}

#imgDisplayer {
    width: 100%;
    min-height: 600px;
    max-height: 700px;
    overflow: scroll;
    background-color: rgb(241, 232, 232);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* flip images */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 70%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }
